{% extends "propietario/layout.html" %}

{% block menu %}{% endblock menu %}

{% block contenido %}

<form action="" method="post">
    {% csrf_token %}

    <label for="nombre">Nombre</label>
<input type="text" name="nombre" id="nombre">
<label for="edad">Edad</label>

<input type="text" name="edad" id="edad">

<label for="propietarios">Propietarios</label>

<select name="propietarios" id="propietarios" multiple>
{% for p in propietarios %}
    <option value="{{p.id}}">{{p.first_name}}</option>
{% endfor %}

</select>
<label for="tipo">Tipo</label>

<select name="tipo" id="tipo">
    {% for t in tipos %}
    <option value="{{t.id}}">{{t.tipo}}</option>
{% endfor %}

</select>



<button type="submit">Guardar</button>

</form>




<div>

  <table border="1">

    <tr>
        <th>Nombre</th>
        <th>Edad</th>
        <th>Propietarios</th>
        <th>Tipo</th>
        
    </tr>

    {% for prop in  mascotas %}

    <tr>

        <td>{{prop.nombre}}</td>
        <td>{{prop.edad}}</td>
        <td>{% for p in prop.propietario.all %}{{p.first_name}}<br>{% endfor %}</td>
        <td>{{prop.tipo.tipo}}</td>


    </tr>
     
    {% endfor %}


  </table>

    
   
</div>
{% endblock contenido %}