{% extends "propietario/layout.html" %}

{% block menu %}{% endblock menu %}

{% block contenido %}

<form action="" method="post">
    {% csrf_token %}

    <label for="tipo">Tipo</label>
<input type="text" name="tipo" id="tipo">


<button type="submit">Guardar</button>

</form>




<div>

 
<ul>
    {% for tip in  tipos %}

   <li>{{tip.tipo}}</li>
    {% endfor %}

  </ul>


    
   
</div>
{% endblock contenido %}