<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

<p>
        <a href="{% url 'propietario' %}">Propietarios</a>
        <a href="{% url 'mascotas' %}">Mascotas</a>
        <a href="{% url 'tipos' %}">Tipo de mascotas</a>
        <a href="{% url 'reporte' %}">Reportes</a>
    </p>
    {% block menu %}
    
    {% endblock menu %}

    {% block contenido %}
    
    
    {% endblock contenido %}
    
</body>
</html>