{% extends "propietario/layout.html" %}

{% block menu %}

{% endblock menu %}

{% block contenido %}

<form action="" method="post">
    {% csrf_token %}

    <label for="nombre">Nombre</label>
<input type="text" name="nombre" id="nombre">
<label for="apellido">Apellido</label>

<input type="text" name="apellido" id="apellido">

<label for="cedula">Cedula</label>

<input type="text" name="cedula" id="cedula">

<label for="direccion">Direccion</label>

<input type="text" name="direccion" id="direccion">

<label for="telefono">Telefono</label>

<input type="text" name="telefono" id="telefono">

<button type="submit">Guardar</button>

</form>




<div>

  <table>

    <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>cédula</th>
        <th>dirección</th>
        <th>teléfono</th>
    </tr>

    {% for prop in  propietarios %}

    <tr>

        <td>{{prop.user.first_name}}</td>
        <td>{{prop.user.last_name}}</td>
        <td>{{prop.cedula}}</td>
        <td>{{prop.direccion}}</td>
        <td>{{prop.telefono}}</td>

    </tr>
     
    {% endfor %}


  </table>

    
   



</div>
{% endblock contenido %}