{% extends "propietario/layout.html" %}

{% block menu %}

{% endblock menu %}

{% block contenido %}

<p>Cuantas personas tienen un determinado tipo de mascota:</p>
<form action="" method="post">
{% csrf_token %}

<input type="hidden" name="reporte" value="tipo">

<label for="tipo">Tipo</label>
<select name="tipo" id="tipo">

    {% for t in tipos %}
    <option value="{{t.id}}">{{t.tipo}}</option>
    {% endfor %}
</select>

<button type="submit">Ir</button>

</form>

<p>Mascotas mayores de una determinada edad</p>

<form action="" method="post">
    {% csrf_token %}
    <input type="hidden" name="reporte" value="mascotas">
    <label for="edad">Edad</label>
    <input type="text" name="edad" id="edad">
    <button type="submit">Ir</button>
</form>



{% if numeroPersonas %}
    <p>El número de personas que tiene el tipo de mascota {{tipoMascota.tipo}} es de: {{numeroPersonas}}</p>
{% endif %}

{% if mascotas %}

<ul>

    {% for m in mascotas %}
    <li>{{m.nombre}}</li>        
    {% endfor %}
</ul>
    
{% endif %}

{% endblock contenido %}